.description-product {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 554px;
  margin-left: 80px;
  margin-top: 0;
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
  margin-left: 0;
}

.description-product > .item.-heart {
  position: absolute;
  transform: scale(1);
  transform: translateX(-100%);
  top: 8px;
  left: -47px;
  cursor: pointer;
  margin-left: 77px;
}

/*integração com o js*/
.description-product > .item.-active {
  background-color: #fff;
}
.description-product > .item.-star {
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 0;
}
.description-product > .item.-star + .item {
  margin-left: 7px;
}

.description-product .heart-img {
  /* Isso é para tirar o bug do hover e animar tanto pra quando estiver 
  com o mouse e quando tirar o mouse*/
  transition: transform 200ms linear;
}

.description-product .heart-img:hover {
  transform: scale(0.9);
}

.description-product .star-img {
  margin-right: 9px;
  transition: transform 100ms linear;
}

.description-product .star-img:hover {
  transform: scale(0.9);
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}

.description-product > .item.-last {
  margin-bottom: 72px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}
.description-product > .text.-more {
  margin-bottom: 0;
}

.description-product .action {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1325px) {
  .description-product {
    width: 50%;
    min-width: 700px;
    display: block;
    margin: 0 auto 60px;
  }
  .description-product > .title {
    font-size: 35px;
    text-align: center;
  }
  .description-product > .item.-star {
    float: left;
    margin-right: 10px;
  }
  .description-product > .item.-number {
    padding-top: 4px;
  }
  .description-product > .item.-heart {
    left: 850px;
  }
}

@media (max-width: 770px) {
  .description-product {
    width: 90%;
    min-width: auto;
  }
}
