.img-product {
  display: inline-block;
  height: 575px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 0 150px 150px 0;
  margin-right: 157px;

  /*background-color: #fff;
  width: 600px;
  height: 575px;
  padding: 27px 0 0 105px;
  position: absolute;
  float: right;
  top: 222px;
  left: 0;
  */
}
