.item-store {
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
  width: 550px;
  font-size: 20px;
  float: right;
}
.item-img {
  background-color: #fff;
  width: 600px;
  height: 575px;
  padding: 27px 0 0 105px;
  position: absolute;
  float: right;
  top: 222px;
  left: 0;
  border-radius: 0 150px 150px 0;
  box-sizing: border-box;
}

.item-store.-title {
  margin: 144px 0 99px;
  font-size: 25px;
}

.item-store.-avaliation {
  margin-left: 15px;
}

.item-store.-price {
  margin-top: 30px;
  word-spacing: 82px;
}

.item-store.-description {
  margin: 75px 0 30px;
  font-size: 18px;
  line-height: 30px;
}

.item-store.-link {
  margin-top: 30px;
  text-decoration: none;
}

.item-store.-button {
  display: inline-block;
  margin-top: 100px;
  float: none;
  width: auto;
}
