.item-store {
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
  font-size: 20px;
}

.item-store.-title {
  margin: 138px 0 99px;
  font-size: 25px;
}

.item-store.-avaliation {
  margin-left: 15px;
}

.item-store.-price {
  margin-top: 30px;
  word-spacing: 82px;
}

.item-store.-description {
  margin: 75px 0 30px;
  font-size: 18px;
  line-height: 30px;
}

.item-store.-link {
  text-decoration: none;
}

.item-store.-button {
  margin-top: 100px;
}
