.item-store {
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
  font-size: 20px;
}

.item-store.-title {
  font-size: 25px;
  margin: 140px 0 100px;
}

.item-store.-rating {
  padding-left: 10px;
}
.item-store.-price {
  margin-top: 30px;
}

.item-store.-description {
  font-size: 18px;
  line-height: 30px;
  margin: 75px 0 30px;
  text-align: left;
  width: 553px;
  height: 175px;
}

.item-store.-link {
  text-decoration: none;
}

.item-store.-button {
  margin-top: 98px;
}
