.menu-hamburguer {
  display: none;
}

@media (max-width: 340px) {
  .menu-hamburguer {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .action.-active {
    display: block;
    background-color: #fff;
    color: #000;
    width: 90vw;
  }
}
