header {
  background-color: #e24647;
  color: #fff;
  position: absolute;
  top: 30%;
  z-index: 1;
  margin: 0 115px;
  padding: 55px 60px 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
}
nav {
  margin-left: 975px;
  font-size: 21px;
  font-family: "SegoeUI", "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 30px;
}
